* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    letter-spacing: 0em;}

body {
    width: 80%;
    height: 1000px;
    margin: 0 auto;}  

header img {
    width: 200px;}

h2, h3 {
    color: #00386E;}

h2 {
    text-align: center;
    height: 63px;
    border-radius: nullpx;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    line-height: 49px;
    letter-spacing: 0em;
    margin-top: 50px;}
    
#top {
    margin-right: auto;
    margin-left: auto; 
    margin-bottom: 40px;
    border-radius: nullpx; 
    text-align: left;}

#content #container img {
    width: 100%;
    margin-bottom: 70px;}

h3 {
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: normal;
    height: 49px;
    letter-spacing: 0em;
    margin-top: 0px;
    margin-bottom: 5px;}

.h3-content {
    margin-top: 5px;}

.margin-bottom {
    margin-bottom: 70px;}

a {
    text-decoration: none;
    color: var(--white);
      }
      
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
    }
      
.button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display: inline-block;
    font-size: 20px;
    background-color: var(--button-primary);
    padding: 12px 16px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out; /* Mozilla Firefox */
    -webkit-transition: all 0.5s ease-in-out; /* Google Chrome, Opera, Edge */
      }
      
.button:hover {
    transform: scale(1.09);
}

header .container nav {
    display: none;}
        

.hamburger {
    position: relative;
    display: block;
    background: none;
    outline: none;
    border: none;
    width: 35px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none; /* Mozilla Firefox */
    -webkit-appearance: none; /* Google Chrome, Opera, Edge */
  }
  
  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--button-primary);
    margin: 6px 0px;
    transition: 0.4s;
    -moz-transition: 0.4s; /* Mozilla Firefox */
    -webkit-transition: 0.4s; /* Google Chrome, Opera, Edge */
  }
  
  /* HAMBURGER MENU CHANGES TO X */
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);}

  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);}
  
  .hamburger.is-active .bar {
    opacity: 0;}
  
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--light-blue);
    padding-top: 120px;
    transition: 0.4s;
    -moz-transition: 0.4s; /* Mozilla Firefox */
    -webkit-transition: 0.4s; /* Google Chrome, Opera, Edge */}
  
  .mobile-nav.is-active {
    left: 0;}
  
  .mobile-nav a {
    max-width: 200px;
    width: 100%;
    display: block;
    background-color: #3cb161;
    color: #fff;
    margin: 0 auto 16px;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;}
  
  .mobile-nav a:hover {
    background-color: #65cf86;}
  
  header.is-scrolling /* Dynamically add the class "is-scrolling" using JavaScript */ {
    background-color: #f3f3f3;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    color: var(--dark-gray);}
  
  header.is-scrolling .container {
    padding-top: 1rem;
    padding-bottom: 1rem;}

  main footer {
    background: var(--white);
    padding: 3rem;
  }
      
  main footer img {
    width: 200px;
  }
      
  main footer .address {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
      
  main footer .social i {
    margin-right: 1rem;
  }
      
  main footer a {
    color: inherit;
  }
  main footer a:hover {
    color: var(--blue-primary);
  }
      
  main footer .address .links {
    display: none;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
      
  main footer .address {
    flex-direction: column;
  } 
      
  main footer .address {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }

@media only screen and (min-width: 1000px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Open Sans, Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        line-height: 27px;
        letter-spacing: 0em;}
    
    body {
        width: 100%;
        height: 1000px;}

    .mobile-nav {
        display: none;}
    
    .hamburger {
        display: none;}

    .container {
        padding-left: 64px;
        padding-right: 64px;}
        
    .button {
        font-size: 18px;}

    h2, h3 {
        color: #00386E;}
    
    h2 {
        text-align: center;
        height: 63px;
        border-radius: nullpx;
        font-size: 36px;
        font-style: normal;
        font-weight: normal;
        line-height: 49px;
        letter-spacing: 0em;
        margin-top: 90px;}
    
    #top {
        margin-right: auto;
        margin-left: auto; 
        margin-bottom: 100px;
        height: 124px;
        width: 1180px;
        left: 119px;
        top: 294px;
        border-radius: nullpx;}
    
    #container {
        margin-right: auto;
        margin-left: auto;
        width: 1180px;}    
    
    #content #container img {
        float: left;
        width: 590px;
        height: 440px;
        border-radius: 0px;}
    
    #vision-mission-div {
        float: right;
        width: 500px;
        height: 200px;
        display: inline-block;}
    
    h3 {
        font-size: 36px;
        font-style: normal;
        font-weight: normal;
        height: 49px;
        letter-spacing: 0em;
        margin-top: 0px;
        margin-bottom: 5px;}
    
    .h3-content {
        margin-top: 5px;}
    
    .margin-bottom {
        margin-bottom: 70px;}
    
    a {
        text-decoration: none;
        color: var(--white);}
          
    .container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding-left: 128px;
        padding-right: 128px;}
          
    .button {
        appearance: none;
        border: none;
        outline: none;
        background: none;
        display: inline-block;
        font-size: 20px;
        background-color: var(--button-primary);
        padding: 12px 16px;
        border-radius: 8px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out; /* Mozilla Firefox */
        -webkit-transition: all 0.5s ease-in-out; /* Google Chrome, Opera, Edge */}
          
    .button:hover {
        transform: scale(1.09);}
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 13%;
        z-index: 99;}
          
    header .container {
        height: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;}
          
    header img {
        width: 200px;}
          
    header .container nav {
        display: grid;
        grid-template-columns: repeat(5, auto);
        justify-content: center;
        align-items: center;
        gap: 1.5rem;}
          
    header .container nav a {
        color: var(--dark-gray);
        font-size: 20px;
        text-decoration: none;}
          
    header .container nav .button a {
        color: var(--white) !important;}
    
    footer .container {
        clear: both;
    }
    * {
        font-family: Open Sans, Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        line-height: 27px;
        letter-spacing: 0em;}
    
    body {
        overflow: auto;
        width: 100%;
        height: 860px;}
    
    h2, h3 {
        color: #00386E;}
    
    h2 {
        text-align: center;
        height: 63px;
        border-radius: nullpx;
        font-size: 36px;
        font-style: normal;
        font-weight: normal;
        line-height: 49px;
        letter-spacing: 0em;
        margin-top: 90px;}
    
    #top {
        margin-right: auto;
        margin-left: auto; 
        margin-bottom: 100px;
        height: 124px;
        width: 1180px;
        left: 119px;
        top: 294px;
        border-radius: nullpx;}
    
    #container {
        margin-right: auto;
        margin-left: auto;
        width: 1180px;}    
    
    img {
        float: left;
        width: 590px;
        height: 440px;
        border-radius: 0px;}
    
    #vision-mission-div {
        float: right;
        width: 500px;
        height: 200px;
        display: inline-block;}
    
    h3 {
        font-size: 36px;
        font-style: normal;
        font-weight: normal;
        height: 49px;
        letter-spacing: 0em;
        margin-top: 0px;
        margin-bottom: 5px;}
    
    .h3-content {
        margin-top: 5px;}
    
    .margin-bottom {
        margin-bottom: 70px;}

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
       
    a {
        text-decoration: none;
        color: var(--white);
    }
        
    .container {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        padding-left: 128px;
        padding-right: 128px;
    }
        
    .button {
        appearance: none;
        border: none;
        outline: none;
        background: none;
        display: inline-block;
        font-size: 20px;
        background-color: var(--button-primary);
        padding: 12px 16px;
        border-radius: 8px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out; /* Mozilla Firefox */
        -webkit-transition: all 0.5s ease-in-out; /* Google Chrome, Opera, Edge */
    }
          
    .button:hover {
        transform: scale(1.09);
    }
        
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
    }
          
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }
          
    header img {
        width: 200px;
        height: 60px;
    }
          
    header .container nav {
        display: grid;
        grid-template-columns: repeat(5, auto);
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
          
    header .container nav a {
        color: var(--dark-gray);
        font-size: 20px;
        text-decoration: none;
    }
          
    header .container nav .button a {
        color: var(--white) !important;
    }
          
    .mobile-nav {
        display: none;
    } /*Laptop*/
    .hamburger {
        display: none;
    }/*Laptop*/
    .container {
        padding-left: 64px;
        padding-right: 64px;
    }/*Laptop*/
        
    .button {
        font-size: 18px;
    }
        
    header.is-scrolling /* Dynamically add the class "is-scrolling" using JavaScript */ {
        background-color: #f3f3f3;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
        color: var(--dark-gray);
    }
          
    header.is-scrolling .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
       
    :root {
        --button-primary: #3cb161;
        --blue-primary: #00386e;
        --light-green: #d0ecd9;
        --light-blue: #cecfdc;
        --dark-gray: #333333;
        --light-gray: #dcdcdc;
        --white: #ffffff;
    }
    
    main footer .address .links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-around;
    }

    main footer img {
        width: 200px;
        height: 60px;
    }
}